* {
    margin: 0;
    padding: 0;
}

.parent {
    margin: 20px auto;
    width: 400px;
    text-align: center;
    font-size: 20px;
    background-size: contain;
}

.parallelogram {
    padding: .5em 1em;
    border: 0;
    margin: .5em;
    background: #58a;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font: bold 200%/1 sans-serif;
}

.parallelogram {
    transform: skewX(45deg);
}

.parallelogram > div {
    transform: skewX(-45deg);
}

.parallelogram-pseudo {
    position: relative;
    padding: .5em 1em;
    border: 0;
    margin: .5em;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font: bold 200%/1 sans-serif;
}

.parallelogram-pseudo:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #58f;
    z-index: -1;
    transform: skewX(45deg);
}