* {
    margin: 0;
    padding: 0;
}

.parent {
    position: relative;
    margin: 20px auto;
    width: 400px;
    height: 250px;
    text-align: center;
    font-size: 20px;
    background-size: contain;
}

.parent p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    padding: 10px;
    background-color: #fff;
}

.parent .flexible-bg-positioning {
    height: 100px;
    color: #fff;
}

.parent .bg-position{
    background: url("../../img/code-pirate.svg") no-repeat bottom right #58a;
    background-position: right 20px bottom 10px;
}

.parent .bg-origin{
    padding: 10px;
    background: url("../../img/code-pirate.svg") no-repeat bottom right #58a;
    /*background-position: right 10px bottom 10px;*/
    background-origin: content-box;
}

.parent .bg-calc {
    background: url("../../img/code-pirate.svg") no-repeat #58a;
    background-position: calc(100% - 20px) calc(100% - 10px);
}